{% extends 'base.html' %}
{% block content %}
<a href="{% url 'new_location' %}">Prideti vieta</a>
{% if locations.count > 0 %}
      <h2>Saldytuvu sarasas:</h2>
<table class="table table-hover">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
    <tr>

      <td><a href="{% url 'product_list' location.id %}"> {{ location.name }}</a></td>
      <td>{{ location.description }}</td>

    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <h2>Saldytuvu sarasas tuscias!</h2>
  {% endif %}
</table>

{% endblock %}