{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'new_product' location_id %}">Naujas produktas</a></p>
<form action="{% url 'product_list' location_id %}" method="post">
    {% csrf_token %}
    {{products.management_form}}
    {% for form in products %}
    <p>
    {{form.id}}
    {{form.instance.product.name}}
    {{form.instance.amount}}
    {{form.instance.unit}}
    {{form.instance.expiration_date}}
    {% if form.instance.shop %}
    {{form.instance.shop.name}}
    {% endif %}
    {{form.instance.registration_date}}
    {{form.amount}}
    </p>
    {% endfor %}
    <button type="submit">Išsaugoti</button>
</form>
{% endblock %}