<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
<h1>Sveiki, cia jusu saldytuvas!</h1>
<button type="submit"><a href="{% url 'signup' %}"> Signup</a></button>
<button type="submit"><a href="{% url 'login' %}"> Signin</a></button>
<button type="submit"><a href="{% url 'signout' %}"> Signout</a></button>

</body>
</html>